 <div class="modal-header">
    <h4 class="modal-title">      
      <div *ngIf="!proposal.id"> Proposta de Iniciativa</div>
      <div *ngIf="proposal.id"> Editar Proposta de Iniciativa</div>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="ngbModalRef.close()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
  <form #signInForm="ngForm" (ngSubmit)="save()" class="login_form">

    <div class="form-group row" [ngClass]="{'has-error': (!title.valid && title.touched), 'has-success': (title.valid && title.touched)}">
      <label for="lgFormGroupInput" class="col-sm-2 col-form-label">Direcionador Estratégico</label>
        <div class="col-sm-10">
          <select [(ngModel)]="proposal.driver_id" required  name="driver" #driver='ngModel'  
            class="col-md-6 custom-select" id="driver">
            <option disabled value='' selected>Selecione um direcionar estratégico</option>
            <option *ngFor="let driver of drivers" [value]="driver.id">{{driver.title}}</option>
          </select>
            <!-- <validation-message #titleErrors [field]="title" [prefix]="'login.title'"></validation-message> -->
        </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-error': (!title.valid && title.touched), 'has-success': (title.valid && title.touched)}">
      <label for="lgFormGroupInput" class="col-sm-2 col-form-label">Titulo</label>
      <div class="col-sm-10">
        <input [(ngModel)]="proposal.title" #title="ngModel" required type="text" name="title" class="form-control" placeholder="Qual o título da sua ideia?">
        <!-- <validation-message #titleErrors [field]="title" [prefix]="'login.title'"></validation-message> -->
      </div>
    </div>
    <div class="form-group row" [ngClass]="{'has-error': (!authors.valid && authors.touched), 'has-success': (authors.valid && authors.touched)}">
        <label for="authors-input" class="col-sm-2 col-form-label">Autores</label>
        <div class="col-sm-10">
          <textarea [(ngModel)]="proposal.authors" #authors="ngModel" type="text" name="authors" class="form-control" placeholder="Quais são todos os autores desta proposta">
          </textarea>
          <!-- <validation-message #descriptionErrors [field]="description" [prefix]="'login.description'"></validation-message> -->
        </div>
      </div>
          
    <div class="form-group row" [ngClass]="{'has-error': (!description.valid && description.touched), 'has-success': (description.valid && description.touched)}">
      <label for="description-input" class="col-sm-2 col-form-label">Descreva a sua iniciativa com mais detalhes</label>
      <div class="col-sm-10">
        <textarea [(ngModel)]="proposal.description" #description="ngModel" required type="text" name="description" class="form-control" placeholder="Descricao">
        </textarea>
        <!-- <validation-message #descriptionErrors [field]="description" [prefix]="'login.description'"></validation-message> -->
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-error': (!contribution.valid && contribution.touched), 'has-success': (contribution.valid && contribution.touched)}">
        <label for="description-input" class="col-sm-2 col-form-label">De que forma a iniciativa ajudará a alcançar a meta do direcionador?</label>
        <div class="col-sm-10">
          <textarea [(ngModel)]="proposal.contribution" #contribution="ngModel" required type="text" name="contribution" class="form-control" placeholder="De que forma a iniciativa ajudará a alcançar a meta do direcionador?">
          </textarea>
          <!-- <validation-message #descriptionErrors [field]="description" [prefix]="'login.description'"></validation-message> -->
        </div>
      </div>
              
    <button [disabled]="!signInForm.form.valid" type="submit" class="btn btn-primary confirm-btn" translate>Salvar</button>   
  </form>
</div>