<ul id="al-sidebar-list" class="al-sidebar-list">
  <layout-menu-item *ngFor="let item of menuItems" 
      [menuItem]="item" 
      (toggleSubMenu)="toggleSubMenu($event)"
      (itemHover)="hoverItem($event)">
  </layout-menu-item>
</ul>

<div class="sidebar-hover-elem " [ngStyle]="{top: hoverElemTop + 'px', height: hoverElemHeight + 'px'}">
</div>