@import '../../../sass/conf/conf';
$sidebar-scroll-width: 4px;

.al-sidebar-list {
  margin: 0;
  overflow: hidden;
  padding: 18px 0 0 0;
  list-style: none;
}

.sidebar-hover-elem {
  width: $sidebar-scroll-width;
  background: $primary;
  position: absolute;
  top: -150px;
  left: $sidebar-width - $sidebar-scroll-width;
  transition: all 0.5s ease;
  transition-property: top, height;
  height: 42px;
  display: block;
}
