<div class="panel panel-primary" *ngIf="objective">
  <div class="panel-top">
    <div class='proposal-new col'>
      <div class='button-box clearfix' (click)="addNewProposal()">
        <img src="assets/img/voce/new_proposal.png"/>
        <div class='text'>
          Criar <b>Proposta</b>
        </div>        
      </div>
    </div>
    <div class="col">
    <div class="proposal-details">
      <div class="title">
        {{objective.title}}
      </div>
      <div class="description">
        {{objective.description}}
      </div>
    </div>
    <div class="proposal-details">
        <div class="title">
            Como Participar?
          </div>
      <div class="description">
        Proponha novas propostas e apoie as existentes. 
          Observe os detalhes da proposta para poder apoiá-las.
      </div>
    </div>
    </div>
  </div>
  <div class="panel-heading">Propostas</div>
    
  <div class="panel-body">
    <ul class="list-group"> 

      <li href="#"  *ngFor="let proposal of proposals" class="list-group-item  justify-content-between"> 
        <h4 class="list-group-item-heading">#{{ proposal.id }} - {{ proposal.title }}</h4> 
        <p class="list-group-item-text">
          {{ proposal.description }}
        </p> 
        <span class="pull-right proposal-actions">
          <div class='edit'>
            <a *ngIf="isOwner(proposal)" class="edit-button" (click)="editProposal(proposal)">Editar</a>
          </div>
          <div class='proposal-detail clearfix'>
            <!-- <img src="assets/img/voce/proposal_details.png"/> -->
            <a class="text" (click)="displayProposal(proposal)">
              Ver Detalhes
            </a>
          </div>
        
        
          <!-- <button *ngIf="!isOwner(proposal) && !alreadyVoted(proposal)" (click)="vote(proposal)" class="btn btn-xs btn-warning">Apoiar!</button> -->
        </span>
      </li> 
    </ul>
    <nav class="d-flex justify-content-center">
        <ul class="pagination pagination-lg">
          <li class="page-item" [ngClass]="{'disabled': !isPreviousActive()}">
            <a class="page-link" (click)="previousPage()" tabindex="-1">Anterior</a>
          </li>
          <li class="page-item">
            <a class="page-link" [ngClass]="{'disabled': !isNextActive()}" (click)="nextPage()">Próximo</a>
          </li>
        </ul>
      </nav>
  </div>
</div>
