// @import '../../../sass/conf/conf';
@import '../../profile/notification/notification';

:host /deep/ {

  .page-top {
    position: absolute;
    z-index: 904;
    width: 100%;
    min-width: $resMin;
    padding: 0 32px 0 0px;
    border-bottom: 2px solid rgba(198, 205, 222, 0.53);
    box-shadow: 0 2px rgba(15, 49, 103, 0.37);
    height: 75px;
    .dropdown-toggle::after {
      display: none;
    }
  }

  .blur {
    .page-top.scrolled {
      background-color: rgba(black, 0.85)
    }
  }

  // a.al-logo {
  //   color: $sidebar-text;
  //   display: block;
  //   font-size: 24px;
  //   font-family: $font-family;
  //   white-space: nowrap;
  //   float: left;
  //   outline: none !important;
  //   line-height: 60px;

  //   span {
  //     color: $primary;
  //   }
  // }

  .al-logo {
    width: 250px;
    height: 75px;
    background: url('/assets/img/voce/logo_meu_serpro.svg'), url('/assets/img/voce/bg_logo_interna.jpg');
    background-repeat: no-repeat, repeat-x;
    background-size: 70%, auto;
    background-position: center;
    border-top: 1px inset #becbff;
    border-left: 3px inset #2c4296;
    border-bottom: 3px solid #141b3e;
    border-right: 3px solid #172152;
    float: left;
    position: relative;
    top: 1px;
  }

  a.al-logo:hover {
    color: $primary;
  }

  .user-profile {
    float: right;
    min-width: 230px;
    margin-top: 10px;
  }

  .al-user-profile {
    float: right;
    margin-right: 12px;
    transition: all .15s ease-in-out;
    padding: 0;
    width: 36px;
    height: 36px;
    border: 0;
    opacity: 1;
    position: relative;
    ul.profile-dropdown:after {
      bottom: 100%;
      right: 0;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #fff;
      border-width: 10px;
      margin-right: 28px;
    }
    a {
      display: block;
    }
    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }
  }

  a.refresh-data {
    color: $sidebar-text;
    font-size: 13px;
    text-decoration: none;
    font-weight: $font-normal;
    float: right;
    margin-top: 13px;
    margin-right: 26px;

    &:hover {
      color: $warning !important;
    }
  }

  a.collapse-menu-link {
    font-size: 31px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    line-height: 42px;
    color: $sidebar-text;
    padding: 0;
    float: left;
    margin: 11px 0 0 25px;

    &:hover {
      text-decoration: none;
      color: $warning;
    }
  }

  .al-skin-dropdown {
    float: right;
    margin-top: 14px;
    margin-right: 26px;

    .tpl-skin-panel {
      max-height: 300px;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }

  .icon-palette {
    display: inline-block;
    width: 14px;
    height: 13px;
    @include bg('theme/palette.png');
    background-size: cover;
  }

  .search {
    text-shadow: none;
    font-size: 13px;
    line-height: 25px;
    transition: all 0.5s ease;
    white-space: nowrap;
    overflow: hidden;
    width: 262px;
    float: left;
    margin: 20px 0 0 30px;

    label {
      cursor: pointer;
    }
    i {
      // width: 23px;
      // display: inline-block;
      cursor: pointer;
      // padding-left: 1px;
      font-size: 23px;
      margin-right: 13px;
      font-weight: bold;
    }
    input {
      color: $sidebar-text;
      background: none;
      border: none;
      outline: none;
      width: 200px;
      padding: 0;
      margin: 0 0 0 -3px;
      height: 27px;
    }
  }

  @media screen and (max-width: $resS) {
    .search {
      display: none;
    }
  }

  @media screen and (max-width: $resXS) {
    .page-top {
      padding: 0 20px;
    }
  }

  @media (max-width: $resXXS) {
    .user-profile {
      min-width: 136px;
    }
    a.refresh-data {
      margin-right: 10px;
    }
    a.collapse-menu-link {
      margin-left: 10px;
    }

    .al-skin-dropdown {
      display: none;
    }
  }

  .profile-toggle-link {
    cursor: pointer;
  }
}
